<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>react | Log in</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="build/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="build/lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="build/lib/AdminLTE/dist/css/AdminLTE.css">
  <link rel="stylesheet" href="css/common.css">
  <link rel="shortcut icon" href="images/favicon.ico"/>
</head>
<body>
<script src="build/lib/jquery/dist/jquery.min.js"></script>
<script src="build/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="build/lib/react/react.min.js"></script>
<script src="build/lib/react/JSXTransformer.js"></script>
<script src="admin/index.js" type="text/jsx"></script>
<div id="index"></div>
</body>
</html>
