<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React-Web | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../lib/AdminLTE/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="shortcut icon" href="../images/favicon.ico"/>
  <link rel="stylesheet" href="../lib/AdminLTE/dist/css/skins/_all-skins.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

<div id="frame-header"></div>
<div id="frame-sidebar"></div>
<div id="frame-content"></div>
<div id="frame-footer"></div>

<script src="../lib/jquery/dist/jquery.min.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../lib/react/react.min.js"></script>
<script src="../lib/react/JSXTransformer.js"></script>

<script src="../js/component.js" type="text/jsx"></script>
<script src="../admin/frame/sidebar.js" type="text/jsx"></script>
<script src="../admin/frame/footer.js" type="text/jsx"></script>
<script src="../admin/frame/header.js" type="text/jsx"></script>
<script src="../admin/frame/content.js" type="text/jsx"></script>
<script src="../admin/navigator/navigator.js" type="text/jsx"></script>
<script src="../admin/navigator/content.map.js" type="text/jsx"></script>
<script src="../admin/profile/profile.js" type="text/jsx"></script>
<script src="../admin/profile/timeline.js" type="text/jsx"></script>
<script src="../admin/admin.js" type="text/jsx"></script>
</body>
</html>
