<section className="content">
  <div className="row">
    <div className="col-md-12">
      <div className="box box-warning">
        <div className="box-header with-border">
          <h3 className="box-title">General Elements</h3>
        </div>
        <div className="box-body">
          <form role="form">
            <div className="form-group">
              <label>Text</label>
              <input type="text" className="form-control" placeholder="Enter ..."/>
            </div>
            <div className="form-group">
              <label>Text Disabled</label>
              <input type="text" className="form-control" placeholder="Enter ..." disabled/>
            </div>

            <div className="form-group">
              <label>Textarea</label>
              <textarea className="form-control" rows="3" placeholder="Enter ..."></textarea>
            </div>
            <div className="form-group">
              <label>Textarea Disabled</label>
              <textarea className="form-control" rows="3" placeholder="Enter ..." disabled></textarea>
            </div>

            <div className="form-group has-success">
              <label className="control-label" for="inputSuccess"><i className="fa fa-check"></i> Input with
                success</label>
              <input type="text" className="form-control" id="inputSuccess" placeholder="Enter ..."/>
            </div>
            <div className="form-group has-warning">
              <label className="control-label" for="inputWarning"><i className="fa fa-bell-o"></i> Input with
                warning</label>
              <input type="text" className="form-control" id="inputWarning" placeholder="Enter ..."/>
            </div>
            <div className="form-group has-error">
              <label className="control-label" for="inputError"><i className="fa fa-times-circle-o"></i> Input with
                error</label>
              <input type="text" className="form-control" id="inputError" placeholder="Enter ..."/>
            </div>

            <div className="form-group">
              <div className="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked/>
                  Option one is this and that&mdash;be sure to include why it's great
                </label>
              </div>
              <div className="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/>
                  Option two can be something else and selecting it will deselect option one
                </label>
              </div>
              <div className="radio">
                <label>
                  <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled/>
                  Option three is disabled
                </label>
              </div>
            </div>

            <div className="form-group">
              <label>Select</label>
              <select className="form-control">
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
            <div className="form-group">
              <label>Select Disabled</label>
              <select className="form-control" disabled>
                <option>option 1</option>
                <option>option 2</option>
                <option>option 3</option>
                <option>option 4</option>
                <option>option 5</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>