<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link href="../public/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../public/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/css/sample-index.css" rel="stylesheet">

</head>
<body>

<article class="container-info">
  <article class="col-md-3 profile-info">
    <div class="row img-box">
      <img class="img-circle" src="../public/images/me111.jpg"/>
    </div>
    <div class="row text-center">
      <h3 class="profile-username">hello</h3>

      <p class="text-muted text-center"> hello</p>

      <a href="#" class="btn btn-primary btn-block"><b>hello</b></a>
    </div>
    <div></div>
  </article>
  <article id="article" class="col-md-9 modal-content content-info">

  </article>
</article>


<script src="../public/lib/jquery/dist/jquery.min.js"></script>
<script src="../public/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../public/lib/lodash/lodash.min.js"></script>
<script src="../public/lib/react/react.min.js"></script>
<script src="../public/lib/react-router/build/umd/ReactRouter.min.js"></script>
<script src="../public/lib/react/JSXTransformer.js"></script>

<script src="../public/client/sample-index.js" type="text/jsx"></script>
</body>
</html>