<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>React-Web | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/sample-index.css" rel="stylesheet">
  <link rel="shortcut icon" href="images/favicon.ico"/>

</head>
<body>

<article class="container-info">
  <article class="col-md-3 profile-info">
    <div class="row img-box">
      <div class="img-circle">
        <img class="img-circle" src="images/me11.jpg"/>
      </div>
    </div>
    <div class="row text-center profile-info-detail">
      <h3 class="profile-username">hello</h3>

      <p class="text-muted text-center">hello</p>

      <a href="#" class="btn btn-primary btn-block"><b>hello</b></a>
    </div>
    <div></div>
  </article>
  <article id="article" class="col-md-9 modal-content content-info">

  </article>
</article>


<script src="lib/jquery/dist/jquery.min.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="lib/lodash/lodash.min.js"></script>
<script src="lib/react/react.min.js"></script>
<script src="lib/react-router/build/umd/ReactRouter.min.js"></script>
<script src="lib/react/JSXTransformer.js"></script>
<script src="js/utils.js"></script>

<script src="client/sample-index.js" type="text/jsx"></script>
</body>
</html>