body {
    background-color: #ecf0f5;
}

.login-page, .register-page {
    background-color: transparent;
}

.login-logo, .register-logo {
    border-bottom: 1px solid #dad4d4;
}

.content-wrapper {
    /*min-height: 800px;*/
}

/*#frame-footer {*/
/*position: absolute;*/
/*bottom: 0;*/
/*}*/

/*#frame-content {*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: 0;*/
/*right: 0;*/
/*top: 50px;*/
/*}*/

.logo img {
    width: 120px;
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-sidebar {
    padding-top: 0
}

.main-sidebar .logo {
    display: block;
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #676767;
}

#frame-sidebar {
    position: fixed;
    bottom: 0;
    top: 0;
}

.skin-blue .main-header .navbar {
    background-color: #3C494F;
}

.timeline > li > .timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background: #fff;
    color: #444;
    margin: 10px 15px 0 60px;
    position: relative;
}

.timeline > li > .time-label .fa {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 50px;
}

.timeline > li > .time-label > span {
    font-weight: 600;
    padding: 5px;
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
}

.error-page > .headline {
    float: unset;
}

.error-page > .error-content {
    margin-left: 0;
}

.markdown-control {
    min-height: 500px;
}