html, body {
    height: 100%;
    margin: auto;
}

.profile-info {
    background-color: #ebeff4;
}

.container-info {
    height: 100%;
}

.container-info > article {
    height: 100%;
}

.content-info {
    padding: 15px;
    border-radius: 0;
    overflow: auto;
}

.img-circle {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    bottom: -42px;
    left: 40%;
}

.img-box {
    height: 200px;
    border-bottom: 2px solid #00bfee;
    position: relative;
}

.article {
    border: 1px solid #c3c7cc;
    border-radius: 5px;
    margin: 20px 0;
}

.article-title {
    border-left: 3px solid #00a55a;
    border-radius: 2px 0;
}

.article:hover {
    border: 1px solid #66afe9;
    cursor: pointer;
}

.article > div {
    padding: 10px;
}

